<ion-view sb-page-background
          class="appointmentpro appointmentpro-payment">

    <ion-nav-title>{{ ::"Payment" | translate:"appointmentpro" }}</ion-nav-title>
 
    <ion-content class="has-header"
                 id="item-content"
                 scrollbar-y="false"
                 overflow-scroll="false"
                 delegate-handle="mainScroll">

      <div class="loader"
           ng-show="is_loading">
          <ion-spinner icon="android"
                       class="spinner-custom"></ion-spinner>
      </div> 

      <div class="list" ng-class="{'card' : settings.list_design}" ng-show="!is_loading">
        <div class="item item-divider item-divider-custom remove-border">
          {{ ::"Summary" | translate:"appointmentpro" }}
        </div>
        <div class="item item-custom remove-border">
          <b>{{ ::"Total Amount" | translate:"appointmentpro" }}: 
          <span class="pull-right">
            {{cart.details.total_amount_with_currency}}
          </span></b>
        </div>

      </div>

      <div class="list" ng-class="{'card' : settings.list_design}" ng-show="!is_loading">
        <div class="item item-divider item-divider-custom remove-border">
          {{ ::"Choose a payment option" | translate:"appointmentpro" }}
        </div>
      
       <div class="item item-custom remove-border" ng-repeat="(key, method) in payout.gateways" ng-if="payout.gateways.length > 0">

            <ion-radio ng-model="cart.payment_method" ng-value="method.id" 
                   class="item item-custom radio-custom" ng-click="selectPaymentMethod(method)">
                  <h2>{{method.lable_name}}</h2>
                  <p>{{method.shot_description}}</p>
            </ion-radio>
           
             <div id="appointmentpro_card_element"
                         class="item item-custom" 
                          ng-hide="gateway_code != 'stripe'"
                          ng-if="method.gateway_code == 'stripe'">
              </div>
              <div id="appointmentpro_card_errors_parent"
                        ng-if="method.gateway_code == 'stripe'"
                        ng-hide="gateway_code != 'stripe'"
                        class="item item-custom remove-border ng-hide">
                    <span style="font-size: .9em; white-space: normal;"
                              id="appointmentpro_card_errors"
                              class="assertive assertive-custom"></span>
              </div>
              <button ng-click="payStripeNow()"
                            ng-if="method.gateway_code == 'stripe'"
                            ng-show="method.gateway_code == gateway_code"
                            id="appointmentpro_save_element"
                            class="button button-full button-positive button-positive-custom">
                       {{ ::"Continue with" | translate:"appointmentpro" }} {{method.lable_name}}
              </button>

               <button class="button button-full button-positive-custom remove-border" 
                        ng-click="placeOrder()" 
                        ng-show="method.gateway_code == gateway_code" 
                        ng-if="gateway_code != 'stripe'">
                    {{ ::"Continue with" | translate:"appointmentpro" }} {{method.lable_name}}
              </button> 

       </div>    

       <div ng-if="payout.gateways.length == 0">
          <div class="item item--custom remove-border text-center">
            <p> {{ ::"No payment method available" | translate:"appointmentpro" }}</p>
          </div>
       </div>

     </div>
    </ion-content>

</ion-view>