<ion-view sb-page-background
          class="appointmentpro appointmentpro-home">

    <ion-nav-title>{{ page_title }}</ion-nav-title>

    <ion-nav-buttons side="secondary">
      <button  ng-if="!is_loading"
              class="button button-clear header-item"
              ui-sref="appointmentpro-account({value_id: value_id})">
            <i class="icon ion-android-contact"></i>
      </button>
    </ion-nav-buttons>

    <ion-header-bar class="bar-subheader bar-custom bar bar-header" ng-if="!is_loading && settings.enable_search">
      <div class="list list-inset home-serach-list">
            <a class="item item-input item-button-right home-serach-item" ng-click="searchServiceModal()">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="{{ forTranslate('Search location, service..') }}" />
            </a>
        </div>
    </ion-header-bar>

    <ion-content class="has-header"
                 ng-class="{'has-subheader' : settings.enable_search}"
                 id="item-content"
                 scrollbar-y="false"
                 overflow-scroll="false"
                 delegate-handle="mainScroll">

        <div class="loader"
             ng-show="is_loading">
            <ion-spinner icon="android"
                         class="spinner-custom"></ion-spinner>
        </div>


      <!-- Slider Image -->
      <div class="list" ng-if="!is_loading && payout.sliders.length > 0 && settings.home_slider">
          <div class="item item-custom appointmentpro-slider remove-border">
            <ion-slide-box id="appointmentpro_slider"
                           ng-if="payout.sliders.length > 0"
                           auto-play="true"
                           slide-interval="3000"
                           show-pager="true" ,
                           does-continue="true"
                           style="height: 150px;">
                <ion-slide ng-repeat="slider in payout.sliders">
                    <img class="appointmentpro-feature-img" 
                          ng-src="{{ appointmentproSliderImage(slider.image) }}"
                          style="width:100%;"/>
                </ion-slide>
            </ion-slide-box> 
          </div>
        </div>
      <!-- End Slider Image -->
 

       <!-- Start provider Start -->
      <div class="list" ng-class="{'card' : settings.list_design}" ng-if="!is_loading && payout.providers.length > 0 && !payout.is_single_location" > 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-provider-locations({value_id: value_id})">
          <h2>{{ getLabelName('popular_providers') }} 
          </h2>
        </div>
      </div>
      
      <ng-include ng-if="!is_loading && payout.providers.length > 0 && !payout.is_single_location" src="'./features/appointmentpro/assets/templates/include/home/provider.html'"></ng-include>

      <!-- Start classes Start -->
      <div class="list" ng-class="{'card' : settings.list_design}" ng-if="!is_loading && payout.categories.length > 0 && !payout.is_single_location" > 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-category-locations({value_id: value_id})">
          <h2>{{ getLabelName('top_categories') }} 
          </h2>
        </div>
      </div>
      
      <ng-include ng-if="!is_loading && payout.categories.length > 0 && !payout.is_single_location" src="'./features/appointmentpro/assets/templates/include/home/categories.html'"></ng-include>    

      <!-- Start Location Start -->
      <div class="list" ng-class="{'card' : settings.list_design}" ng-if="!is_loading && payout.locations.length > 0 && settings.is_service_booking && !payout.is_single_location" > 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-locations({value_id: value_id})">
          <h2>{{ getLabelName('locations') }}
             <span class="pull-right">
              <i class="icon ion-chevron-right"></i>
            </span>
          </h2>
        </div>
      </div>
      
      <ng-include ng-if="!is_loading && payout.locations.length > 0 && settings.is_service_booking && !payout.is_single_location" src="'./features/appointmentpro/assets/templates/include/location/location.html'"></ng-include>

      
      <ng-include ng-if="!is_loading && payout.locations.length == 1 && settings.is_service_booking && payout.is_single_location" src="'./features/appointmentpro/assets/templates/include/location/location_detail.html'"></ng-include>


      <div class="card" ng-if="!is_loading && payout.locations.length > 10 && settings.is_service_booking"> 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-locations({value_id: value_id})">
          <h2 class="text-center">{{ ::"More" | translate:"appointmentpro" }} {{ getLabelName('locations') }}
             <span class="pull-right">
              <i class="icon ion-chevron-right"></i>
            </span>
          </h2>
        </div>
      </div>

   <!-- End locations -->

    <!-- Start calsses Start -->
      <div class="list" ng-class="{'card' : settings.list_design}" ng-if="!is_loading && payout.classes.length > 0 && settings.is_class_booking" > 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-classes({value_id: value_id})">
          <h2>{{ getLabelName('classes') }}
             <span class="pull-right">
              <i class="icon ion-chevron-right"></i>
            </span>
          </h2>
        </div>
      </div>
      
      <ng-include ng-if="!is_loading && payout.classes.length > 0 && settings.is_class_booking" src="'./features/appointmentpro/assets/templates/include/classes/list.html'"></ng-include>

      <div class="card" ng-if="!is_loading && payout.classes.length > 10 && settings.is_class_booking"> 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item" ui-sref="appointmentpro-classes({value_id: value_id})">
          <h2 class="text-center">{{ ::"More" | translate:"appointmentpro" }} {{ getLabelName('classes') }}
             <span class="pull-right">
              <i class="icon ion-chevron-right"></i>
            </span>
          </h2>
        </div>
      </div>

    </ion-content>


    <style type="text/css">
      .list {
         margin-bottom: 0px;
     }
    </style>

</ion-view>
