<ion-view sb-page-background
          class="appointmentpro appointmentpro-locations">

    <ion-nav-title>{{ getLabelName('locations') }}</ion-nav-title>
   
    <ion-header-bar class="bar-subheader bar-custom bar bar-header" ng-if="!is_loading && settings.enable_search">
      <div class="list list-inset home-serach-list">
            <a class="item item-input item-button-right home-serach-item" ng-click="searchServiceModal()">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="{{ forTranslate('Search location, service..') }}" />
            </a>
        </div>
    </ion-header-bar>

    <ion-content class="has-header"
                ng-class="{'has-subheader' : settings.enable_search}"
                id="item-content"
                scrollbar-y="false"
                overflow-scroll="false"
                delegate-handle="mainScroll">

        <div class="loader"
             ng-show="is_loading">
            <ion-spinner icon="android"
                         class="spinner-custom"></ion-spinner>
        </div>
 
      <!-- Start Location Start -->
      <ng-include ng-if="!is_loading && payout.locations.length > 0" src="'./features/appointmentpro/assets/templates/include/location/location.html'"></ng-include>

  </ion-content>
</ion-view>
