<ion-modal-view sb-page-background class="pointwallet">
    <ion-header-bar class="bar-custom">
        <div class="buttons buttons-left header-item" style="transition-duration: 0ms;" ng-click="closeTransaction()">
            <span class="left-buttons">
                <button class="button button-clear ng-binding" ng-click="closeTransaction()">
                    <i class="icon ion-ios-arrow-back"></i>
                </button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="card balanced">
            <div class="item item-custom">
                <span class="input-label">{{"Pay Amount" | translate}}</span>
                <input type="text" ng-model="amount">
            </div>
            <div class="item item-custom item-text-wrap">
               <div class="cart-btn-continue" >
                    <button class="button button-block button-custom Continue-btn" ng-click="payAmount(amount)">
                        {{"Continue" | translate}}
                    </button>
                </div>
            </div>
       </div>
    </ion-content>
</ion-modal-view>