<ion-view sb-page-background
          class="appointmentpro appointmentpro-service">

    <ion-nav-title>{{payout.provider.name}}</ion-nav-title>
 
    <ion-content class="has-header"
                 id="item-content"
                 scrollbar-y="false"
                 overflow-scroll="false"
                 delegate-handle="mainScroll">

        <div class="loader"
             ng-show="is_loading">
            <ion-spinner icon="android"
                         class="spinner-custom"></ion-spinner>
        </div>


     <ng-include ng-if="!is_loading" src="'./features/appointmentpro/assets/templates/include/provider/detail.html'"></ng-include>


      <div class="list" ng-class="{'card' : settings.list_design}" ng-if="!is_loading" > 
        <div class="item item-divider item-divider-custom appointmentpro-divider-item">
          <h2>{{ "Services" | translate:"appointmentpro" }}</h2>
        </div>
     </div>
      
     <div class="list" ng-class="{'card' : settings.list_design}"  ng-show="!is_loading" ng-repeat="service in payout.services">
         <a ng-click="goToProviderCalendar(service.service_id)"  class="item item-custom item-avatar remove-border item-icon-right" >
          <img class="service-image-grid" ng-src="{{ appointmentproImage(service.featured_image) }}">
          <h2>{{service.service_name}}</h2>
          <p ng-hide="settings.price_hide">
          <span ng-if="!service.is_sale">
              {{service.price_with_currency}}
            </span>
            <span ng-if="service.is_sale">
              {{service.price_with_currency}} <del><small>{{ service.orginal_price }}</small></del>
            </span>
          </p>
          <i class="icon ion-chevron-right"></i>
        </a>
     </div>


     <div class="list" ng-class="{'card' : settings.list_design}"  ng-show="!is_loading"  ng-if="payout.services.length == 0">
        <a class="item item-custom remove-border">
          <div class="row text-center">
              <div class="col text-center ">
                <p> {{ "No service available" | translate:"appointmentpro" }}!</p>
              </div>
            </div>
        </a>
       </div>


  </ion-content>
</ion-view>
