<div ng-controller="CommerceProCategoryController">
    <ion-content ng-class="{ 'has-subheader has-bigger-subheader' : settings.showSearch }" class="new-design" >

        <div class="loader"
             ng-show="getState() == 'LOADING'">
            <ion-spinner class="spinner-custom"></ion-spinner>
        </div>

        <ion-refresher ng-if="use_pull_refresh"
                       class="spinner-custom"
                       pulling-text="{{ ::'Pull to refresh...'| translate:'commerce_pro' }}"
                       on-refresh="pullToRefresh()">
        </ion-refresher>

        <div class="list"
             ng-class="{'card' : card_design}"
             ng-show="!is_loading && cover">

            <div ng-click="showItem(cover)">
                <div class="item item-image main-category item-custom" ng-if="cover.picture" style="  background-image: url({{ cover.picture}});">
                </div>
                <div class="item item-custom main-category-tit" ng-class="{'title-top' : !cover.picture}">
                    <h2>{{ cover.title}}</h2>
                    <p>{{ cover.subtitle}}</p>
                </div>
            </div>

        </div>

        <div class="list"
             ng-class="{'card' : card_design}"
             ng-show="getState() == 'RESULTS' || collection.length">

            <!-- CommercePro only -->
            <!--<div ng-if="is_cart_enable" class="button-bar"
                 ng-if="use_button_header">
                <a class="button button-custom icon-left ion-clipboard"
                   ng-click="openHistory()">{{ ::'Order history'| translate:'commerce_pro' }}</a>
                <a class="button button-custom icon-left ion-ios-cart"
                   ng-click="openCart()">
                    <span>{{ ::'My cart'| translate:'commerce_pro' }}</span>
                    <span class="badge badge-positive badge-positive-custom">{{ cartItems}}</span>
                </a>
            </div>-->

            <!--            <div ng-show="show_search && collection.length > 0">
                            <label class="item item-input">
                                <input type="text"
                                       id="search"
                                       name="search"
                                       ng-model="filter_search"
                                       placeholder="{{ ::'Search'| translate:'commerce_pro' }}" />
                            </label>
                        </div>-->


            <div ng-show="show_search && collection.length > 0">

                <div class="row">
                    <div class="col col-10 text-center col-center">
                        <div class="qr-scanner1">
                            <a ng-click="getScanProductQr()">
                                <i class="icon ion-qr-scanner"></i>
                            </a>
                        </div>
                    </div> 
                    <div class="col col-90 text-center col-center">
                        <div>
                            <label class="item item-input p-0 pl-10 brd-rad-50">
                                <input type="text"
                                       id="search"
                                       name="search"
                                       ng-model="filter_search"
                                       placeholder="{{ ::'Search'| translate:'commerce_pro' }}" />
                            </label>
                        </div>
                    </div> 

                </div>           
            </div>

            <!--<div class="item item-custom"
                 ng-click="showItem(item)"
                 ng-if="(!cover || !(cover.id)) || (cover.id != item.id)"
                 ng-repeat="item in collection | filter:filter_search"
                 ng-class="{'item-thumbnail-left': (item.thumbnail.length || item.picture), 'item-center': (!item.subtitle && !item.message)}">
    
                <img ng-src="{{ item.thumbnail }}"
                     ng-if="item.thumbnail.length" />
                <img ng-src="{{ item.picture }}"
                     ng-if="item.picture && !item.thumbnail.length" />
                <h2>{{ item.title ? item.title : item.author }}</h2>
                <p class="three-lines"
                   ng-if="item.subtitle && !price_hide_flag"
                   ng-bind-html="item.subtitle"></p>
                <p ng-if="!item.subtitle && item.message">{{ item.message }}</p>
                <p class="text-align-right"
                   ng-if="item.details">
                    <span ng-if="item.details.date">
                        <i class="ion-ios-calendar-outline"></i>
                        <span ng-if="!item.details.date.mt_text">{{ item.details.date.text }}</span>
                        <span ng-if="item.details.date.mt_text">{{ item.details.date.mt_text | from_now }}</span>
                    </span>
                    <span ng-if="item.details.comments">
                        <i class="ion-ios-chatboxes-outline"></i>
                        {{ item.details.comments.text }}
                    </span>
                    <span ng-if="item.details.likes">
                        <i class="ion-ios-heart-outline"></i>
                        {{ item.details.likes.text }}
                    </span>
                    <div class="clear"></div>
                </p>
            </div>-->

            <div class="list p-0 m-0 category-list" >

                <div  class="card stor-list"   ng-click="showItem(item)"
                      ng-if="(!cover || !(cover.id)) || (cover.id != item.id)"
                      ng-repeat="item in collection| filter:filter_search"
                      ng-class="{'item-thumbnail-left1': (item.thumbnail.length || item.picture), 'item-center': (!item.subtitle && !item.message)}">

                    <div class="item item-cards item-custom p-0">
                        <div class="row p-0 card-bg">
                            <div class="col-30 text-center">
                                <div class="store-img" style="background-image:url({{ item.thumbnail}})" ng-if="item.thumbnail.length && !is_product_pic_hide"></div>
                                <div class="store-img" style="background-image:url({{ item.picture}})" ng-if="item.picture && !item.thumbnail.length && !is_product_pic_hide"></div>
                                <div class="store-img" style="background-image:url(./features/commerce_pro/assets/templates/images/shop-placeholder.jpg)" ng-if="!item.picture && !item.thumbnail.length && !is_product_pic_hide"></div> 
                            </div> 
                            <div class="col-70 col-center">
                                <div class="row">
                                    <div class="col-80">
                                        <h2>{{ item.title ? item.title : item.author }}</h2><span ng-if="item.is_sku_enable" style="float:right">SKU:{{item.sku}}</span>
                                        <div class="price-data">
                                            <p class="three-lines m0"
                                               ng-if="item.subtitle && !price_hide_flag"
                                               ng-bind-html="item.subtitle"></p>
                                            <span class="line-through" ng-if="labels.enable_sale_price == '1' && item.sale_price > 0"></span>
                                        </div>
                                        <p ng-if=" labels.enable_sale_price == '1' && !price_hide_flag && item.sale_price > 0" class="sale_price">{{ item.sale_price_formatted  }}</p>
                                        <p ng-if="!item.subtitle && item.message" class="m0">{{ item.message}}</p>
                                        <p class="text-align-right" ng-if="item.details">
                                            <span ng-if="item.details.date">
                                                <i class="ion-ios-calendar-outline"></i>
                                                <span ng-if="!item.details.date.mt_text">{{ item.details.date.text}}</span>
                                                <span ng-if="item.details.date.mt_text">{{ item.details.date.mt_text | from_now }}</span>
                                            </span>
                                            <span ng-if="item.details.comments">
                                                <i class="ion-ios-chatboxes-outline"></i>
                                                {{ item.details.comments.text}}
                                            </span>
                                            <span ng-if="item.details.likes">
                                                <i class="ion-ios-heart-outline"></i>
                                                {{ item.details.likes.text}}
                                            </span>
                                        <div class="clear"></div>
                                        </p>
                                    </div>
                                    <div class="col-20 col-center">
                                        <div class="col p-0 col-top text-center">
                                            <img class="icon-right mb-10" src="./features/commerce_pro/assets/templates/images/arrow-right.svg">
                                        </div>


                                    </div>

                                </div>   
                            </div>   
                        </div>
                    </div>
                </div>
            </div>


        </div>

        <div class="list"
             ng-class="{'card': card_design}"
             ng-if="(getState() == 'NO_RESULTS')">
            <div class="item text-center item-custom">
                {{ ::'No items found'| translate:'commerce_pro' }}
            </div>
        </div>

        <ion-infinite-scroll ng-if="load_more"
                             on-infinite="loadMore()"
                             immediate-check="false"
                             distance="10%"
                             class="spinner-custom">
        </ion-infinite-scroll>



    </ion-content>

    <ion-slide-box auto-play = "1" does-continue = "1" ng-show="$root.show_commercepro_banner && labels.banner_img1_url && labels.banner_img2_url && labels.banner_img3_url">
        <ion-slide>
            <div class="row">
                <div clas="col for-w" style="padding: 5px 0px 10px 6px;">
                    <div class = "box box1">
                        <div class="offer-slider">
                            <img src="{{ labels.banner_img1_url}}">
                        </div>
                    </div>
                </div>
            </div>

        </ion-slide>

        <ion-slide>
            <div class="row">
                <div clas="col" style=" padding: 5px 0px 10px 6px;">
                    <div class = "box box1">
                        <div class="offer-slider">
                            <img src="{{ labels.banner_img2_url}}">
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>

        <ion-slide>
            <div class="row">
                <div clas="col" style=" padding: 5px 0px 10px 6px;">
                    <div class = "box box1">
                        <div class="offer-slider">
                            <img src="{{ labels.banner_img3_url}}">
                        </div>
                    </div>
                </div>
            </div>
        </ion-slide>

    </ion-slide-box> 
    <span class="banner-close-btn" ng-show="$root.show_commercepro_banner && labels.banner_img1_url && labels.banner_img2_url && labels.banner_img3_url" ng-click="closeBanner()"><img src="./features/commerce_pro/assets/templates/images/close.svg">{{ ::'close'| translate:'commerce_pro' }}</span>
    <div style="position: absolute; bottom: 0px; width: 100%; display: inline-block;" class="bar-custom bar" ng-if="is_cart_enable">
        <div style="text-align: center; float: left; ">
            <a class="button icon-left ion-clipboard" ng-click="openHistory()" style="border: none;">
                {{ ::'Order history'| translate:'commerce_pro' }}</a>
        </div>
        <div style="text-align: center; float: right; ">
            <a class="button icon-left ion-ios-cart" ng-click="openCart()" style="border: none;">
                <span>{{ ::'My cart'| translate:'commerce_pro' }}</span>
                <span class="badge badge-positive badge-positive-custom">{{ cartItems}}</span>
            </a>
        </div>
    </div>
</div>

<style type="text/css">

    /* START: New design CSS */


    .new-design .main-category{
        width: 100%;
        height: 200px;
        border: 2px solid;
        padding: 10px !important;
        border-radius: 5px;
        margin: 20px auto 0px auto !important;
        overflow: hidden !important;
        background-color: transparent!important;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .new-design .main-category-tit{
        text-align: center;
        width: 80%;
        margin: auto!important;
        border-radius: 50px;
        margin-top: -10px!important;
    }
    .new-design .title-top{
        margin-top: 5px!important;
    }
    .new-design .store-img{
        display: inline-block;

        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        vertical-align: middle
            ;margin: auto;
        height: 70px;
        width: 100%;
    }
    .new-design .icon-location img{
        width: 15px!important;
    }
    .new-design .stor-list{
        margin: 10px!important;
    }
    .new-design .p-0{padding: 0px!important;}

    .new-design .card-bg {background-color: #fff;margin: 5px 0px 5px 5px!important;}
    .new-design .card-bg p, .new-design .card-bg h2{color: #000!important;}
    
    .category-list p.sale_price{
        position: absolute;
        left: 0px;
        bottom: 6px;
        background-color: #41ad0b !important;
        color: #fff!important;
        padding: 0px 8px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        border: 1px solid #286f05 !important;
        border-left: none;
    }
    .category-list .price-data{
        position: relative;
        display: inline-block;
        line-height: 11px;
    }
    .category-list .m0{
        margin: 0;
    }

    .category-list .line-through{
        height: 1.3pt;
        width: 100%;
        background-color: red;
        position: absolute;
        bottom: 5px;
        display: block;
    }

   

    /* END: New design CSS */
</style>
