<ion-content scroll="false" class="maps" ng-controller="CommerceProMapController">

    <div class="loader" ng-show="is_loading">
        <ion-spinner class="spinner-custom"></ion-spinner>
    </div>



    <div ng-show="show_search && collection.length > 0">
        <div class="row">
            <div class="col col-10 text-center col-center">
                <div class="qr-scanner1">
                    <a ng-click="getScanProductQr()">
                        <i class="icon ion-qr-scanner"></i>
                    </a>
                </div>
            </div> 
            <div class="col col-70 text-center col-center">
                <label class="item item-input p-0 pl-10 brd-rad-50">
                    <input type="text"
                           id="search"
                           name="search"
                           ng-model="searchText"
                           placeholder="{{ ::'Search'| translate:'commerce_pro' }}" />
                </label>
            </div>
            <button style="padding: 0px" class="col col-20 button button-positive button-positive-custom"
                    ng-click="mapSearch(searchText)">{{ ::'Search'| translate:'commerce_pro' }}
            </button>
        </div>           
    </div>

    <!--    <div style="width: 100%;" ng-show="show_search && collection.length > 0">
    
            <div style="width: 80%; margin: 0 auto;">
                <div class="qr-scanner1 text-center col-center">
                    <a ng-click="getScanProductQr()">
                        <i class="icon ion-qr-scanner"></i>
                    </a>
                </div>
                <label class="item item-input" style="width:70%; float: left; padding-top: 6px; padding-bottom: 6px;">
                    <input type="text"
                           id="search"
                           name="search"
                           ng-model="searchText"
                           placeholder="{{ ::'Search'| translate:'commerce_pro' }}" />
                </label>
                <button class="button button-positive button-positive-custom"  style="width: 30%;"
                        ng-click="mapSearch(searchText)" style="min-height: 46px;">{{ ::'Search'| translate:'commerce_pro' }}
                </button>
            </div>
        </div>-->

    <div id="nearby-store-google-maps"
         class="map-canvas"
         stores-nearby-maps
         map="map"
         config="map_config"
         ng-if="map_config"
         data-tap-disabled="true"></div>
</ion-content>